.errorPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    a{
        text-decoration: none;
        border: 2px solid green;
        background-color: green;
        border-radius: 50px;
        color:#fff;
        padding:10px 20px;
        margin-top:20px;
    }
}